<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web</title>
   
    <link rel="stylesheet" href="./styles/sttyle.css">
</head>
<body>
    <header>    
        <nav class="navegation">
            <ul class="ultext">
                <li>Cursos</li>
                <li>Comunidad</li>
                <li>Lanzamiento</li>
                <li>Planes</li>
            </ul>
        </nav>
    </header>

    <section>
        <div class="navegation">navegacion interna</div>
        <div id="banner">
             Preparate para ser el mejor
        </div>
        <form id="formEnviar">
            <div>
                <label for="textName">Contacto</label>
                <input name="email" type="text" placeholder="email@dominio.com">
                <input name="name" type="text" placeholder="name">
            </div>
            <div>
                <input type="submit" value="Enviar informacion">
            </div>
        </form>
    </section>
    <script src="./scripts/index.js"></script>
</body>
</html>